<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>粽子网后台</title>
    <link rel="stylesheet" href="/static/admin/css/admin.css">
    <link rel="stylesheet" href="/static/admin/css/bootstrap.min.css">
    <script src="/static/admin/js/jquery-3.4.1.min.js"></script>
    <script src="/static/admin/js/admin-create.js"></script>
</head>
<body>
    <div id="main">
        <!--left-->
        <div class="left">
            <div class="self">
                <div id="person">
                    <img src="/static/img/composer.jpg">
                    <div class="selfMsg">
                        {if(session('?username'))}
                        <span class="admin">{:session('username')}</span>
                        {/if}
                        <br>
                        <span class="admin">后台管理员</span>
                        <ul id="quit">
                            <li><a href="{:url('logout')}">退出</a></li>
                            <li><a href="{:url('index')}">前台首页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--//left-->
        <!-- right -->
        <div class="right">
             <nav id="nav">
                粽 子 网 后 台
             </nav>
             <br>
             <h4 class="h4">修改项目</h4>
            <div class="add">
                <div class="success">
                    {if(session('?success'))}
                    {:session('success')}
                    {/if}
                </div>
                <table class="tb">
                    <form action="/soft/{$res['id']}" enctype="multipart/form-data" method="POST">
                         <tr>
                             <td>标题:</td>
                             <td><input type="text" name="title" class="input" id="title" value="{$res['title']}" autocomplete="off" required autofocus></td>
                         </tr>
                        <tr>
                            <td>提取码:</td>
                            <td><input type="text" name="fcode" class="input" id="fcode" value="{$res['fcode']}" autocomplete="off" required></td>
                        </tr>
                        <tr>
                            <td>项目链接:</td>
                            <td><input type="text" name="link" class="input" id="link" value="{$res['link']}" autocomplete="off" required></td>
                        </tr>
                        <tr>
                            <td>项目封面:</td>
                            <td>
                                <!--请求头的伪装-->
                                <input type="hidden" name="_method" value="PUT">
                                <input type="file" name="pic" id="picker">
                                <img src="{$res['imagesrc']}" width="280" height="200">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="add_back">
                                <input type="submit" value="修改" id="add" class="add-btn">
                                <a href="/admin/index/index"><span class="add-btn">返回</span></a>
                                </div>
                            </td>
                        </tr>  
                    </form> 
                </table>
            </div>
            </div><!--//right-->
    </div>
</body>
</html>
