* {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.nav {
    width: 100vw;
    height: 7vh;
}

.contain {
    width: 100vw;
    height: 100vh;
}

#index {
    width: 64vw;
    height: 85vh;
    margin-left: 7vw;
    border-radius: 7px;
    box-shadow: 3px 3px 3px #ccc, -3px -3px 3px #ccc;
}

.right {
    width: 20vw;
    height: 85vh;
    float: right;
    margin-right: 7vw;
}

.right .fetch {
    width: 20vw;
    height: 20vh;
    background-color: white;
    border-radius: 7px;
    text-align: center;

}

.right .fetch>h3 {
    color: rgb(197, 53, 49);
    border-radius: 7px;
    background-color: white;
    padding-top: 3vh;
}

.right .fetch>input {
    width: 10vw;
    height: 30px;
    border: solid 1px #ccc;
    border-radius: 3px;
}

.right .money {
    margin-top: 15px;
    width: 20vw;
    height: 20vh;
    background-color: white;
    border-radius: 7px;
    text-align: center;
}

.right .money>span {
    font-family: "微软雅黑";
    font-size: 25px;
    color: black;
    text-shadow: 2px 2px 1px rgb(236, 33, 81), -2px -2px 1px rgb(32, 244, 235);
    background-color: white;
}

.right .money #goods_g {
    margin: 10px auto;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: rgb(204, 22, 22);
    cursor: pointer;
    text-shadow: 2px 2px 2px blue;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    color: white;
    display: block;
}
.right .money #goods_g:hover{
    box-shadow: 2px 2px 8px black;
    background-color: red;
}
.right .money img {
    margin-top: 5px;
    cursor:pointer;
    width:20vw; 
    height:37vh; 
    float: left; 
    box-shadow:2px 2px 8px black;
}